.container {
  width: 500px;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-areas: 
  "header header"
  "left right"
  "footer footer";
  background-color: #66806A;
  padding: 10px;
  grid-template-columns: 249px 249px;
  grid-gap: 0px;
}

.container > div{
  display: flex;
  padding: 3px;
  border: 0.5px solid black;
}

.header{
  grid-area: header;
  width: 490px;
  height: 30px;
  background-color: #FFC286;
  line-height: 30px;
  font-family: candara;
}


.left{
  grid-area: left;
  background-color: #FFC286;
  height: auto;
  align-items: center;
  justify-content: center;
}

.left img{
  width: 200px;
  height: 200px;
}

.right{
  grid-area: right;
  height: auto;
  background-color: #FFF1AF;
  text-align: justify;
  color : black;
  font-family: candara;
  font-size: 12px;
}



