.container {
  width: 500px;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-areas: 
  "header header"
  "kolom2 kolom2"
  "kolom3 kolom3"
  "kolom4 kolom4"
  "kolom5 kolom5"
  "kolom6 kolom6"
  "kolom7left kolom7right"
  "footer footer";
  background-color: #66806A;
  padding: 10px;
  grid-template-columns: 249px 249px;
  grid-gap: 0px;
}

.container > div{
  display: flex;
  padding: 3px;
  border: 0.5px solid black;
}

.header{
  grid-area: header;
  width: 490px;
  height: 15px;
  background-color: #FFC286;
  align-items: center;
  justify-content: center;
}

.header h4{
  font-size: 10px;
  color: black;
  font-family: arial;
}

.kolom2{
  grid-area: kolom2;
  width: 490px;
  height: 90px;
  background-color: #FFF1AF;
}

.kolom2 img{
  width: 100px;
  height: 50px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.kolom2 h1{
  text-align: right;
  font-size: 15px;
  color: black;
  font-family: ocra;
  margin-right: 2px;
  padding: 8px;
}


.kolom3{
  grid-area: kolom3;
  width: 490px;
  height: 120px;
  background-color: #B4C6A6;
  font-size: 11px;
  text-align: justify;
}

.kolom3 .isi3{
  height: auto;
  background-color: #B4C6A6
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
  color : black;
  font-family: candara;
  font-size: 12px;
  padding: 0.5px;
}

.isi3 h2{
  margin-top: 2px;
  font-size: 18px;
  color: #FF1818;
  font-family: cambria;
}


.kolom4, .kolom6{
  width: 490px;
  height: 100px;
  background-color: #F6F2D4;
  display: flex;
  align-items: center;
  justify-content: center;
}

.kolom4{
  grid-area: kolom4;
}

.kolom4 img{
  width: 80px;
  height: 80px;
  padding: 5px;
}

.kolom5{
  grid-area: kolom5;
  width: 490px;
  height: 120px;
  background-color: #B4C6A6;
  font-size: 11px;
  text-align: justify;
}

.kolom5 .isi5{
  height: auto;
  background-color: #B4C6A6
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;
  color : black;
  font-family: candara;
  font-size: 12px;
  padding: 0.5px;
}

.isi5 h2{
  margin-top: 2px;
  font-size: 18px;
  color: #0E185F;
  font-family: cambria;
}

.kolom6{
  grid-area: kolom6;
}

.kolom6 img{
  width: 80px;
  height: 80px;
  padding: 5px;
}

.kolom7left{
  grid-area: kolom7left;
  background-color: #FFC286;
  align-items: center;
  justify-content: center;
}

.kolom7right{
  grid-area: kolom7right;
  background-color: #FFF1AF;
  text-align: justify;
  color : black;
  font-family: candara;
  font-size: 12px;
  padding: 0.5px;
}

.kolom7left img{
  width: 180px;
  height: 150px;
}


.footer{
  grid-area: footer;
  width: 490px;
  height: 10px;
  background-color: #FFF1AF;
  align-items: center;
  justify-content: center;
}

.footer h4{
  text-align: center;
  font-size: 10px;
  color: black;
}

